.ConnectButtonWrapper {
    position: fixed;
    top: 20px;
    right: 40px;
}

.Header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
}

.Body {
    position: fixed;
    top: 100px;
    left: 0px;
    height: calc(100% - 100px);
    width: 100%;
}

.Logo {
    height: 60px;
    width: 60px;
    padding: 20px;
}

.Title {
    position: fixed;
    top: 30px;
    left: 100px;
    font-size: 32px;
}

.AvailableListings {
    background-color: #FFFAF8;
    position: absolute;
    top: 60px;
    left: 20px;
    border-radius: 16px;
    width: calc(100% - 40px);
    height: 750px;
    overflow-y: scroll;
}

.Listing {
    margin-top: 20px;
    position: relative;
    left: 20px;
    background-color: white;
    width: calc(100% - 40px);
    height: 300px;
    border-radius: 14px;
    box-shadow: 0px 0px 100px 5px rgba(255,91,25,0.1);
}

.ListingImage {
    position: absolute;
    width: 435px;
    height: 260px;
    top: 20px;
    left: 20px;
    border-radius: 16px;
}

.ListingTitle {
    position: absolute;
    left: 500px;
    top: 20px;
}

.ListingDescription {
    position: absolute;
    left: 500px;
    top: 80px;
}

.ListingTotal {
    position: absolute;
    left: 500px;
    top: 230px;
}

.ListingDown {
    position: absolute;
    left: 650px;
    top: 230px;
}

.ListingMonthly {
    position: absolute;
    left: 870px;
    top: 230px;
}

.ListingInterest {
    position: absolute;
    left: 1100px;
    top: 230px;
}

.ListingDuration {
    position: absolute;
    left: 1280px;
    top: 230px;
}

.ListingPurchase {
    position: absolute;
    right: 40px;
    top: 230px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    background-color: rgba(255,91,25,1);
    outline: none;
    border: none;
    border-radius: 30px;
    color: white;
    transition: all 0.3s;
}

.ListingPurchase:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.ListingZillow {
    position: absolute;
    top: 45px;
    right: 30px;
}

.AvailableListingsTitle {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 20px;
    color: rgba(0,0,0,0.8);
}
